.searchButton{
    -fx-background-color: #004494;
}

.countries-check-box > .box {
    -fx-padding: 5px 5px 5px 5px;
}
.countries-check-box > .box > .mark {
    -fx-padding: 5px 5px 5px 5px;
}

.countries-check-box {
    -fx-font-size: 18px;
}